<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/plataformaserpen</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping resource="com/serpen/persistence/map/Conection.hbm.xml"/>
        <mapping resource="com/serpen/persistence/map/Entity.hbm.xml"/>
        <mapping resource="com/serpen/persistence/map/Agreement.hbm.xml"/>
        <mapping resource="com/serpen/persistence/map/PensionFund.hbm.xml"/>
        <mapping resource="com/serpen/persistence/map/User.hbm.xml"/>
        <mapping resource="com/serpen/persistence/map/Role.hbm.xml"/>
        <mapping resource="com/serpen/persistence/map/Account.hbm.xml"/>
        <mapping resource="com/serpen/persistence/map/Credit.hbm.xml"/>
        <mapping resource="com/serpen/persistence/map/FinancialEntity.hbm.xml"/>
        <mapping resource="com/serpen/persistence/map/PaymentPlan.hbm.xml"/>
         <mapping resource="com/serpen/persistence/map/TransactionP.hbm.xml"/>
        
    </session-factory>
</hibernate-configuration>
